// M
@media screen and (min-width: 601px) and (max-width: 1024px) {
  .tools {
    & > :nth-child(1),
    & > :nth-child(2) {
      max-width: 60% !important;
      min-width: 40% !important;
      width: 50%;
    }
    & > .tool:not(:nth-child(-n + 2)) {
      max-width: 33% !important;
    }
  }
}

// S
@media screen and (max-width: 600px) {
  .tools {
    flex-direction: column;
  }
}

:global {
  html:not(.dark) {
    --rs-tool-stack-shadow-color: #f9f9f9;
    --rs-tool-stack-title-color: #0b0c0e;
    --rs-tool-stack-desc-color: #6b7075;

    --rs-tool-stack-card-stroke: rgba(226, 232, 240, 0.5);
    --rs-tool-stack-card-gradient: linear-gradient(
      135deg,
      rgba(255, 255, 255, 1),
      rgba(249, 249, 249, 0.5)
    );
  }
  html.dark {
    --rs-tool-stack-shadow-color: #23272f;
    --rs-tool-stack-title-color: white;
    --rs-tool-stack-desc-color: #c6cacd;
    --rs-tool-stack-card-stroke: #23272f;
    --rs-tool-stack-card-gradient: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.03)
    );
  }
}

.tools {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.tool {
  cursor: pointer;
  text-decoration: none;

  display: flex;
  flex: 1 1 0;
  padding: 24px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;

  // style
  border-radius: 10px;
  border: 1px solid var(--rs-tool-stack-card-stroke);
  background: var(--rs-tool-stack-card-gradient);
  box-shadow: 0px -2px 10px 0px var(--rs-tool-stack-shadow-color);
  transition: all 0.2s ease-out;
  &:hover {
    transform: scale3d(1.04, 1.04, 1.04);
  }
}

.logo {
  height: 90px;
  flex-shrink: 0;
}

.toolTitle {
  color: var(--rs-tool-stack-title-color);
  text-align: center;

  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 145.455% */
}

.toolDescription {
  color: var(--rs-tool-stack-desc-color);
  text-align: center;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
