// M
@media screen and (min-width: 601px) and (max-width: 1050px) {
  .title {
    font-size: 40px !important;
    line-height: 48px !important;
  }
  .innerContainer {
    background-size: 100% 100% !important;
  }
  .logo {
    min-width: 180px !important;
    transform: scale(0.8);
    flex: 1 0 !important;
  }
}

// S
@media screen and (max-width: 600px) {
  .title {
    font-size: 32px !important;
    line-height: 48px !important;
  }
  .innerContainer {
    background-size: 100% 100% !important;
    padding: 26px 0px 0px 0px !important;
    &::before {
      width: 300px !important;
      height: 300px !important;
    }

    &::after {
      width: 300px !important;
      height: 300px !important;
    }
  }

  .logo {
    transform: scale(0.8);
    max-width: 50% !important;
    flex: 1 0 50% !important;
  }
}

.innerContainer {
  width: 100%;
  display: flex;

  box-sizing: border-box;

  padding: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;

    width: 400px;
    height: 400px;

    user-select: none;

    background: url('https://assets.rspack.dev/rspack/assets/landingpage-who-is-using-left-border.png')
      no-repeat;
    background-size: 100% 100%;
  }
  &::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;

    width: 400px;
    height: 400px;

    user-select: none;

    background: url('https://assets.rspack.dev/rspack/assets/landingpage-who-is-using-right-border.png')
      no-repeat;
    background-size: 100% 100%;
  }
  background-size: 100% 100%;
}

.title {
  text-align: center;

  /* Style 10 */

  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; /* 100% */

  background: linear-gradient(279deg, #ff8b00 27.12%, #f93920 72.56%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logos {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
  flex-wrap: wrap;
  filter: var(--rs-built-with-rspack-invert-filter, none);

  .logo {
    min-height: 100px;
    flex: 1 1 250px;
    align-self: stretch;

    padding-left: 8px;
    padding-right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    // reset style
    text-decoration: none;
  }

  .logoText {
    color: #0b0c0e;
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 116.667% */
  }
}

// ---------- dark mode
:global {
  html:not(.dark) {
    --rs-built-with-rspack-invert-filter: none;
  }

  html.dark {
    --rs-built-with-rspack-invert-filter: invert(1);
  }
}
