:root {
  --rp-c-bg: #fff;
  --rp-c-text-1: #213547;
  --rp-c-text-2: rgba(60, 60, 60, 0.7);
  --rp-c-text-3: rgba(60, 60, 60, 0.33);
  --rp-c-bg-mute: #f1f1f1;
  --rp-c-divider-light: rgba(60, 60, 60, 0.29);
  --rp-c-gray-light-5: #f2f2f2;
  --rp-font-family-base: 'Open Sans', 'Inter var experimental', 'Inter var',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --rp-home-feature-bg: #f9f9f9;
  --rp-c-brand: #3370ff;
}

body {
  font-family: var(--rp-font-family-base);
  background-color: #282a36;
}
